.card-data{
    margin: 10% 0;
}
.add-btn{
    float: right;
    margin-bottom: 40px;
}
.edit-btn{
    background-color: dodgerblue!important;
    color: #ffffff;
    border-radius: 4px;
    padding: 8px 18px;
}
.delete-btn{
    background-color: red!important;
    color: #ffffff;
    margin-right: 10px;
    border-radius: 4px;
    padding: 8px 18px;
}